.custom-text{
    font-family: 'Edu SA Beginner', cursive;
}

.name-text{
    font-family: 'Cabin', sans-serif;

    font-family: 'Edu SA Beginner', cursive;

    font-family: 'Montserrat', sans-seri
}