.custom-text{
    font-family: 'Edu SA Beginner', cursive;
}

.name-text{
    font-family: 'Cabin', sans-serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat', sans-seri
}

.bg-gray-200{
    background-color: #e9ecef;
}

.btn-fixed{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    font-size: 1rem;
}

.btn-fixed:hover{
    font-size: 1.2rem;
}