/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Edu+SA+Beginner:wght@400;700&family=Montserrat:ital,wght@1,500&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-text{
    font-family: 'Edu SA Beginner', cursive;
}

.name-text{
    font-family: 'Cabin', sans-serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat', sans-seri;
    font-size: 1.2rem;
}

.bg-gray-200{
    background-color: #e9ecef;
}